@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@font-face {
    font-family: "Pirulen";
    src: local("Pirulen"), url("../Font/Pirulen.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Forgotten Futurist";
    src: local("Forgotten Futurist"),
        url("../Font/Forgotten Futurist.ttf") format("truetype");
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Forgotten Futurist";
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../Asset/background.png");
}

.select-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.heading,
.content {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: "Pirulen";
    font-size: 3.2rem;
}

.stash {
    background: rgba(0, 0, 0, 0.09);
    -webkit-backdrop-filter: blur(130px);
    backdrop-filter: blur(130px);
    border-radius: 15px;
    display: flex;
    align-items: baseline;
    gap: 5px;
    padding: 1rem 2rem;
    box-shadow: inset 0px 1px 23.4612px rgba(107, 100, 154, 0.3),
        inset 0px 1px 52.136px rgba(179, 171, 226, 0.2);
}

.stashTitle {
    font-size: 1.5rem;
}

.stashAmount {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.3rem;
    text-align: right;
    margin-left: 1rem;
}

.betNumber {
    padding: 1.4rem;
    border-radius: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 9em;
    letter-spacing: 0.12em;
    color: #ffffff;
}

.betSelect {
    font-size: 1.8rem;
    letter-spacing: 0.12em;
    line-height: 1.4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    font-size: 1.4rem;
    letter-spacing: 0.12em;
    line-height: 1.4em;
    margin-top: 1rem;
}

.btns {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    margin-top: 2.5em;
    width: 12em;
    text-align: center;
    border: 4px solid black;
    outline: 1px solid rgb(255, 255, 255);
    padding: 5px 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btns:hover {
    opacity: 0.8;
}

.slidecontainer {
    position: relative;
}

.input-field {
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
    padding: 16.5px 14px;
    outline: none;
    border: 1px solid white;
    font-family: "Gilroy", sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-field[type="number"] {
    -moz-appearance: textfield;
}

.input-field::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 49px;
    /* border: 0; */
    background: url("../Asset/Slider.png");
    cursor: pointer;
}

.input-field::-moz-range-thumb {
    width: 23px;
    height: 25px;
    /* border: 0; */
    background: url("../Asset/Slider.png");
    cursor: pointer;
}

.end1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0.85em;
    left: 3%;
}

.end2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0.85em;
    left: 95%;
}

.textContent {
    font-size: 0.2em;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.12em;
}

.desc {
    width: max-content;
    margin-top: 1rem;
    letter-spacing: 0.12em;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4rem;
}

#err-cont {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: transparent;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.reg-par {
    font-family: "Forgotten Futurist", sans-serif;
    word-break: break-word;
    font-size: 1.5rem;
    color: white;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    letter-spacing: 1.2px;
    opacity: 0.8;
}

.glass {
    padding: 1.5rem;
    background: rgba(7, 9, 73, 0.09);
    box-shadow: inset 0px 1px 23.4612px rgba(107, 100, 154, 0.3),
        inset 0px 1px 52.136px rgba(179, 171, 226, 0.2);
    -webkit-backdrop-filter: blur(130px);
    backdrop-filter: blur(130px);
    border-radius: 15px;
}

#err {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

#err .reg-par {
    padding: 50px;
}

#err-head {
    font-family: "Pirulen", sans-serif;
    font-size: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#err-head svg {
    stroke: white;
    fill: white;
    height: 25px;
    width: 25px;
}

@media (max-width: 1600px) {
    .betNumber {
        font-size: 7em;
    }

    .betSelect {
        margin-left: 2em;
    }
}

@media (max-width: 1300px) {
    .title {
        font-size: 2.5rem;
    }

    .betNumber {
        font-size: 4em;
    }

    .betSelect {
        font-size: 1.2rem;
    }

    .input-field {
        font-size: 1rem;
    }

    .btns {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .heading {
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin-bottom: 2em;
    }

    .stash {
        margin-left: -2em;
    }

    .content {
        flex-direction: column-reverse;
        margin-top: 5em;
    }

    .info {
        text-align: center;
    }

    .number {
        width: 100%;
        margin-left: -1em;
        font-size: 0.8em;
    }

    .end1 {
        width: 15px;
        height: 15px;
        top: 0.8em;
    }

    .end2 {
        width: 15px;
        height: 15px;
        top: 0.8em;
    }

    .betSelect {
        margin-left: -1em;
        font-size: 0.9em;
    }

    .btns {
        margin: 0 auto;
    }

    .reg-par {
        font-size: 1rem;
        margin: auto;
    }

    #err .reg-par {
        padding: 10px 0;
    }
}
/*# sourceMappingURL=desk5.css.map */
