<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gambling Maths | Categories</title>
    <link rel="stylesheet" href="../css/categories.css" />
  </head>
  <body>
    <div class="heading">
      <div class="title">GAMBLING MATHS</div>
      <div class="stash">
        <div class="stashTitle">Betting Stash</div>
        <div class="stashAmount">10,00,000</div>
      </div>
    </div>
    <div class="content">
      <form class="categories">
        <div class="category">
          <span id="1" class="check"></span> Category 01
        </div>
        <div class="category">
          <span id="2" class="check"></span> Category 02
        </div>
        <div class="category">
          <span id="3" class="check"></span> Category 03
        </div>
        <div class="category">
          <span id="4" class="check"></span> Category 04
        </div>
        <div class="category">
          <span id="5" class="check"></span> Category 05
        </div>
        <div class="category">
          <span id="6" class="check"></span> Category 06
        </div>
        <div class="category">
          <span id="7" class="check"></span> Category 07
        </div>
        <div class="category">
          <span id="8" class="check"></span> Category 08
        </div>
        <div class="category">
          <span id="9" class="check"></span> Category 09
        </div>
        <div class="category">
          <span id="10" class="check"></span> Category 10
        </div>
        <div class="promptButton" id="btn1">SELECT</div>
      </form>
      <div class="prompt">
        <div class="promptText">Choose the difficulty of the questions</div>
        <div class="promptButton" id="btn2">SELECT</div>
      </div>
    </div>
    <div id="err-cont">
      <div id="err" class="glass">
        <div id="err-head">
          ERROR
          <svg
            class="MuiSvgIcon-root MuiSvgIcon-colorAction MuiSvgIcon-fontSizeLarge css-y1rln8"
            focusable="false"
            aria-hidden="true"
            viewBox="0 0 24 24"
            data-testid="CloseIcon"
          >
            <path
              d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            ></path>
          </svg>
        </div>
        <div class="reg-par">
          You can select a particular difficulty only thrice
        </div>
      </div>
    </div>
  </body>
  <script src="/scripts/categories.js"></script>
</html>
