<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gambling Maths | Difficulty</title>
    <link rel="stylesheet" href="/css/desk5.css" />
</head>

<body>
    <div class="heading">
        <div class="title">GAMBLING MATHS</div>
        <div class="stash">
            <div class="stashTitle">Betting Stash</div>
            <div class="stashAmount">10,00,000</div>
        </div>
    </div>
    <div class="content">
        <div class="betNumber">
            <div class="number">10,000</div>
            <div class="sliderHere">
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <div class="textContent">
                        <div class="text1">Min. 100</div>
                        <div class="text2">Entire Stash</div>
                    </div>
                    <div class="end1"></div>
                    <div class="end2"></div>
                </div>
            </div>
            <div class="desc">
                Correct answer will win you : <br>
                <span> + 1000 points </span> <br>
                Wrong answer will result you in ; <br>
                <span> - 10000 points</span> 
            </div>
        </div>
        <div class="betSelect">
            <div class="info">
                Choose the amount of points you <br> want to bet
            </div>
            <div class="btn">
                SELECT
            </div>
        </div>
    </div>
</body>

</html>