<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gambling Maths | Leaderboard</title>
    <link rel="stylesheet" href="../css/leader.css" />
  </head>

  <body>
    <div class="heading">
      <div class="title">LEADERBOARD</div>
    </div>
    <div class="content">
      <div class="pictures">
        <div class="second"></div>
        <div class="first"></div>
        <div class="third"></div>
      </div>
      <div class="ranks">
        <div class="current">
          <div class="left">Current Rank</div>
          <div class="right">333</div>
        </div>
        <div class="other">
          <div class="left">Akshun Jain</div>
          <div class="right">333</div>
        </div>
        <div class="other">
          <div class="left">Akshun Jain</div>
          <div class="right">333</div>
        </div>
      </div>
      <div class="rules"><a href="rules"> RULES</a></div>
    </div>
  </body>
</html>
