<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gambling Maths | Difficulty</title>
    <link rel="stylesheet" href="../css/levels.css" />
  </head>
  <body>
    <div class="heading">
      <div class="title">GAMBLING MATHS</div>
      <div class="stash">
        <div class="stashTitle">Betting Stash</div>
        <div class="stashAmount">10,00,000</div>
      </div>
    </div>
    <div class="content">
      <div class="levels">
        <div class="level">Easy</div>
        <div class="level">Medium</div>
        <div class="level">Hard</div>
      </div>
      <div class="prompt">Choose the difficulty of the questions</div>
    </div>
  </body>
</html>
