<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="../css/login.css"/>
	<title>Gambling Maths | Login</title>
</head>
<body>
	<div id="left">
		<div id="login-head">GAMBLING MATHS</div>
		<div class="reg-par">Login to continue</div>
		<form id="login-form">
			<div class="login-field-cont">
				<label for="username">Enter your username</label>
				<input
						type="text"
						class="login-field"
						id="username"
						name="username"
				/>
			</div>
			<div class="login-field-cont">
				<label for="password">Enter your password</label>
				<input
						type="password"
						class="login-field"
						id="password"
						name="password"
				/>
			</div>
			<button type="submit" class="btn">LOGIN</button>
			<div id="or-cont">
				<div class="line"></div>
				<div id="par-alt">OR</div>
				<div class="line"></div>
			</div>
			<button class="btn" id="google-btn">
				<img
						src="../assets/google-logo.svg"
						alt="Google Logo"
						id="google-logo"
				/>LOGIN USING BITS MAIL
			</button>
		</form>
	</div>
	<div id="right">
		<div class="reg-par">Before starting make sure to go</div>
		<div class="reg-par">through the rules once</div>
		<div class="reg-par" style="text-decoration: white solid underline">
			RULES
		</div>
	</div>
</body>
</html>
