<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/question.css" />
    <script src="../scripts/question.js" defer></script>
    <title>Gambling Maths | Question</title>
  </head>
  <body>
    <div id="question-head">
      GAMBLING MATHS
      <div class="glass" id="stash">
        <div class="small-par">Betting Stash</div>
        <div class="num">10,00,000</div>
      </div>
    </div>
    <div id="left">
      <div class="reg-par" id="question">
        Q1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
        distinctio dolorum earum minus nesciunt non odit, quidem quod tempora.
        Quod!
      </div>
      <div id="answers">
        <div class="answer glass"><span class="check"></span> OPTION 01</div>
        <div class="answer glass"><span class="check"></span> OPTION 02</div>
        <div class="answer glass"><span class="check"></span> OPTION 03</div>
        <div class="answer glass"><span class="check"></span> OPTION 04</div>
      </div>
    </div>
    <div id="right">
      <div id="right-grid">
        <div class="reg-par">Answer before the timer runs out</div>
        <div class="num" id="timer">10:00</div>
        <div class="btn">SUBMIT</div>
      </div>
    </div>
    <div id="err-cont">
      <div id="err" class="glass">
        <div id="err-head">
          ERROR
          <svg
            class="MuiSvgIcon-root MuiSvgIcon-colorAction MuiSvgIcon-fontSizeLarge css-y1rln8"
            focusable="false"
            aria-hidden="true"
            viewBox="0 0 24 24"
            data-testid="CloseIcon"
          >
            <path
              d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            ></path>
          </svg>
        </div>
        <div class="reg-par">
          You can select a particular difficulty only thrice
        </div>
      </div>
    </div>
  </body>
</html>
