<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/question.css" />
    <script src="../scripts/question.js" defer></script>
    <title>Gambling Maths | Question</title>
  </head>
  <body>
    <div class="glass" id="stash">
      <div class="small-par">Betting Stash</div>
      <div class="num">10,00,000</div>
    </div>
    <div id="left">
      <div id="question-head">GAMBLING MATHS</div>
      <div class="reg-par" id="question">
        Q1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
        distinctio dolorum earum minus nesciunt non odit, quidem quod tempora.
        Quod!
      </div>
      <div id="answers">
        <div class="answer glass">
          <span id="1" class="check"></span> OPTION 01
        </div>
        <div class="answer glass">
          <span id="2" class="check"></span> OPTION 02
        </div>
        <div class="answer glass">
          <span id="3" class="check"></span> OPTION 03
        </div>
        <div class="answer glass">
          <span id="4" class="check"></span> OPTION 04
        </div>
      </div>
    </div>
    <div id="right">
      <div id="right-grid">
        <div class="reg-par">Answer before the timer runs out</div>
        <div class="num" id="timer">10:00</div>
        <div class="btn">SUBMIT</div>
      </div>
    </div>
  </body>
</html>
